*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none; }

html {
  font-size: 62.5%; }

body {
  font-family: "Noto Sans JP", sans-serif; }

h1 {
  font-size: calc(2.8rem + 1.4vw); }

h2 {
  margin-bottom: 1rem;
  font-size: calc(2.3rem + 0.5vw); }

h2 {
  margin-bottom: 2.5rem; }

h1,
h2,
h3 {
  color: #06143e;
  text-transform: capitalize; }

p,
li {
  color: rgba(6, 20, 62, 0.9);
  line-height: 1.5; }

p,
a,
li,
h3 {
  font-size: calc(1.7rem + 0.3vw); }

.layout-wrapper {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto; }

@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1; } }

@keyframes bounce {
  from,
  20%,
  53%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0) scaleY(1.1);
    transform: translate3d(0, -30px, 0) scaleY(1.1); }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
    transform: translate3d(0, -15px, 0) scaleY(1.05); }
  80% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0) scaleY(0.95);
    transform: translate3d(0, 0, 0) scaleY(0.95); }
  90% {
    -webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
    transform: translate3d(0, -4px, 0) scaleY(1.02); } }

.btn {
  display: inline-block;
  padding: 0.6rem 1.1rem;
  text-transform: capitalize;
  border-radius: 5px; }

.footer {
  padding: 4rem 0;
  background: #06143e; }
  .footer * {
    color: #fff; }
  .footer .footer-logo {
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 2rem; }
  .footer h2 {
    margin-bottom: 2rem; }
  .footer .footer-section:not(:last-child) {
    margin-bottom: 3rem; }
  .footer .contact-details li {
    display: flex;
    align-items: center; }
    .footer .contact-details li:not(:last-child) {
      margin-bottom: 1rem; }
    .footer .contact-details li svg {
      margin-right: 1rem; }
  .footer .links {
    display: flex;
    width: 30%;
    justify-content: space-between; }
  .footer svg {
    width: 20px;
    fill: #fff; }
  @media screen and (min-width: 750px) {
    .footer .links {
      width: 20%; } }

.form-layout-wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 550px; }

.form-wrapper {
  padding: 2rem 0; }

.image-box {
  height: 100vh;
  display: none; }

.signup {
  background: url("../../assets/images/form-images/bg-one.jpg"); }

.login {
  background: url("../../assets/images/form-images/bg-two.jpg"); }

.forgot {
  background: url("../../assets/images/form-images/bg-three.jpg"); }

.form-copy {
  margin-bottom: 2rem; }
  .form-copy h1 {
    font-size: 2.5rem;
    text-transform: capitalize;
    color: #06143e; }
  .form-copy p {
    font-size: 2rem;
    color: rgba(6, 20, 62, 0.8); }

.form-row {
  display: flex;
  margin-bottom: 2rem;
  flex-direction: column; }

label {
  font-size: 1.6rem;
  font-weight: 500;
  color: rgba(6, 20, 62, 0.8);
  margin-bottom: 0.5rem;
  text-transform: capitalize; }

input {
  border-radius: 5px;
  color: #06143e;
  padding: 1em;
  font-size: 1.5rem;
  border: 1px solid grey; }

input:focus {
  border: 1px solid #06143e; }

input[type="button"] {
  color: white;
  border: none;
  width: 100%;
  text-transform: capitalize;
  background: #06143e;
  margin-top: 1rem;
  cursor: pointer; }

.form-footer {
  display: flex;
  margin-top: 1rem;
  flex-direction: column; }
  .form-footer .have-acct {
    color: rgba(6, 20, 62, 0.8);
    display: inline-block;
    margin-top: 1rem; }
  .form-footer a {
    color: #06143e;
    text-decoration: underline; }

@media screen and (min-width: 800px) {
  .form-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0; }
  .image-box {
    display: block;
    width: 50%;
    background-size: cover; } }

header {
  color: #fff;
  padding: 1.89rem 0;
  background: #06143e;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2; }
  header a {
    color: inherit;
    text-transform: uppercase; }

.section {
  padding: 4rem 0; }
  .section svg {
    width: 80px;
    margin-bottom: 1rem; }

.projects,
.pricing,
.testimonials,
.partners,
.team {
  background: #cdedf6; }

.hero {
  display: flex;
  align-items: center; }
  .hero .hero-container {
    display: flex;
    flex-direction: column-reverse; }
  .hero .hero-left {
    margin-top: 4rem;
    margin-bottom: 3rem; }
    .hero .hero-left img {
      width: 100%; }
  .hero .hero-buttons {
    display: flex;
    margin-top: 1.8rem; }
  .hero .demo {
    margin-right: 1rem;
    color: white;
    font-weight: 500;
    background: #089360; }
  .hero .sign {
    font-weight: 500;
    color: #fff;
    background: #06143e; }
  .hero h1 {
    margin-bottom: 0.6rem; }
  @media screen and (min-width: 750px) {
    .hero .hero-container {
      justify-content: space-between;
      flex-direction: row-reverse;
      align-items: center; }
    .hero .hero-left {
      width: 80%; } }

.about p:first-of-type {
  margin-bottom: 1rem; }

.about .about-copy {
  margin-bottom: 3rem; }

.features .features-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 3rem; }

.features .feature {
  text-align: center;
  margin-bottom: 2rem; }
  .features .feature .feature-copy {
    width: 80%;
    margin: 0 auto; }
  .features .feature h3 {
    margin-bottom: 1rem; }
  .features .feature:hover svg {
    animation: bounce 1s both;
    transform-origin: center bottom; }

.projects .projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 3rem; }

.projects .project img {
  width: 100%;
  margin-bottom: 2rem; }

.pricing .pricing-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 3rem; }

.pricing .price {
  background: #fff;
  padding: 3.5rem 4rem 4rem;
  border-radius: 5px; }
  .pricing .price h3 {
    width: 100%;
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: calc(2rem + 0.2vw);
    text-align: center;
    text-transform: capitalize;
    display: inline-block; }
  .pricing .price .price-features li {
    text-transform: capitalize;
    margin-bottom: 1rem; }
  .pricing .price .buy {
    width: 100%;
    border-radius: 0;
    margin-top: 4rem;
    border-radius: 5px;
    padding: 1.5rem 0;
    text-align: center;
    color: #fff;
    display: inline-block;
    background: #06143e; }

.pricing .price-one li:last-child, .pricing .price-one li:nth-child(4), .pricing .price-one li:nth-child(3) {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: line-through; }

.pricing .price-two li:last-child, .pricing .price-two li:nth-child(4) {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: line-through; }

.testimonials .testimonials-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 3rem; }

.testimonials .testimonial .testimonial-header p {
  text-transform: capitalize; }

.testimonials .testimonial-copy {
  display: flex;
  flex-direction: column-reverse;
  padding: 4rem 2rem;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 1.4rem 1.4rem rgba(50, 50, 71, 0.04);
  position: relative; }
  .testimonials .testimonial-copy .quote {
    width: 25px;
    align-self: flex-end; }

.testimonials .testionial-person {
  display: flex;
  margin-top: 2.4rem; }
  .testimonials .testionial-person h3,
  .testimonials .testionial-person p {
    text-transform: capitalize;
    font-size: 1.6rem; }

.testimonials svg {
  width: 45px;
  margin-right: 2rem; }

.partners .partners-container {
  display: flex;
  justify-content: space-between; }
  .partners .partners-container svg {
    width: 40px; }

@media screen and (min-width: 750px) {
  .partners .partners-container {
    width: 40%; } }
