*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Noto Sans JP", sans-serif;
}
