h1 {
  font-size: calc(2.8rem + 0.5vw);
}

h2 {
  margin-bottom: 1rem;
  font-size: calc(2.3rem + 0.5vw);
}

h2 {
  margin-bottom: 2.5rem;
}

h1,
h2,
h3 {
  text-transform: capitalize;
}

p {
  // color: rgba($color-black, 0.7);
  line-height: 1.5;
}

p,
a,
li,
h3 {
  font-size: calc(1.7rem + 0.3vw);
}
