$primary-color: #fdf667;
$secondary-color: #00303c;
// $accent-color: ;

// $primary-color: #f6d743;
// $secondary-color: #06623b;

$grey-color: #f2ffff;

$color-white: #fff;
$color-black: #000;

$border-radius: 5px;
